.text-warning-700, .text-danger-800 {
    font-weight: bolder;
}

/*table.table-items {*/
    /*width: 100%;*/
/*}*/

.id {
    width: 20px;
    text-align: center;
}

.image img {
    width: 100%;
}

.avatar-icon {
    width: 80px;
    height: 80px;
    border: 1px solid grey;
    border-radius: 50%;
    color: grey;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.avatar-icon i {
    font-size: 50px;
    margin-top: 10px;
}

td.image {
    width: 10%;
}

td.image img,
.edit-image-preview img {
    width: 100%;
    border: 2px solid grey;
}

.avatar img,
.image.avatar img {
    border: none;
}

.delete {
    text-align: center;
}

td.delete > span {
    cursor: pointer;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group.name input,
.form-group.name select {
    height: 37px;
    font-size: 17px;
}

.has-feedback {
    position: static;
}

input[type=number] {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #337ab7;
}

textarea {
    width: 100%;
    height: 200px;
    resize: vertical;
}

.modal-body {
    background-color: #f1f1f1;
    border: 1px solid #eaeaea;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #00a512;
    border-color: #43A047;
}

.video-container {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid grey;
}

.icon-delete {
    position: absolute;
    width: 20px;
    height: 20px;
    padding-top: 5px;
    border-radius: 50%;
    cursor: pointer;
    left: 100%;
    top: -10px;
    text-align: center;
    background-color: white;
    transform: translateX(-50%);
    z-index: 999;
}

.icon-delete:hover {
    color: red;
}

.video-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

